<!DOCTYPE HTML>
<html language="en" ng-app="helloApp">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>

    <script src="js/vendor/angularjs/1.2.10/angular.min.js"></script>

    <script src="js/vendor/angular-ui/0.12.0/ui-bootstrap-tpls-0.12.0.min.js"></script>

    <script>
      var helloApp = angular.module( "helloApp", ['ui.bootstrap'] );
      helloApp.controller( "HelloCtrl", [ '$scope', function($scope) {
        $scope.name = "calvin hobbes";
      }]);
    </script>

    <link href="css/vendor/bootstrap/3.2.0/bootstrap.min.css" rel="stylesheet">
    
    <link href="app.css" rel="stylesheet">

</head>


<body ng-controller="HelloCtrl">
  <div class="page-header">
    <h1>Hello World Sample Program</h1>
  </div>
  <div>
    <form class="form-horizontal" role="form">
      <div class="form-group">
          <label class="col-md-2 control-label">Type Your Name</label>
          <div class="col-md-4">
               <input type="text" ng-model="name"  class="form-control" value="{{name}}"/>
               <span>Hello {{ name }}!</span>
          </div>
      </div>
    </form>
  </div>
</body>


</html>