<!DOCTYPE HTML>
<html language="en" ng-app="ui.bootstrap.demo">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>

    <script src="js/vendor/angularjs/1.2.10/angular.min.js"></script>

    <script src="js/vendor/angular-ui/0.12.0/ui-bootstrap-tpls-0.12.0.min.js"></script>

    <script src="app.js"></script>

    <link href="css/vendor/bootstrap/3.2.0/bootstrap.min.css" rel="stylesheet">
    
    <link href="app.css" rel="stylesheet">
</head>


<body>
    <div ng-controller="AlertDemoCtrl">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
    </div>
</body>


</html>